
@{
    ViewBag.Title = "Echec de l'envoi";
}

<h2>Echec de l'envoi</h2>
<p>Nous sommes désolé, l'envoi de votre message a échoué, nous vous invitons à réessayer ou de nous contacter par pigeon voyageur</p>

